
.container {
  margin: 150px 200px;
}

.refresh {
  margin-right: 220px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#name,
#score {
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}

.subm {
  display: flex;
  justify-content: end;
}

.list-group {
  margin-left: -60px;
}
